/* ---------------------------------------------------------
   Navigation 
   ---------------------------------------------------------*/

/* ----------------
   Kapitel 7     */


nav[role="navigation"] {
  background: #eee; 
  color: #333; 
}
nav[role="navigation"] ul {
  padding: 0;
  margin: 0; 
}
nav[role="navigation"] li {
  display: inline-block;
  padding: 0;
  margin: 0; 
}
nav[role="navigation"] li a {
  text-decoration: none; 
  color: #333;
  padding: 1em; 
}
nav[role="navigation"] li.active a {
  color: black;
  text-decoration: underline;
}


/* eof */ 