body {
    background-color: white;
    color: #333;
    max-width: 480px;
    margin: 0 auto;
}

header[role="banner"],
footer[role="contentinfo"] {
    background: #333;
    color: white;
}

.hideme {
    position: absolute;
    top: -30000px;
    left: -30000px;
}

.cf:before,
.cf:after {
    content: " ",
    display: table;
}

.cf:after,
.clear {
    clear: both;
}

nav[role="navigation"] {
    background: #eee;
    color: #eee;
}

nav[role="navigation"] ul {
    padding: 0; margin: 0;
}

nav[role="navigation"] li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

nav[role="navigation"] li a {
    text-decoration: none;
    color: #333;
    padding: 1em;
}

nav[role="navigation"] li:active a {
    color: black;
    text-decoration: underline;
}

.subtitle {
    margin: 0;
    padding:0;
}


